body {
    color: black;
    font-family: serif, "times new roman", sans-serif;
    font-size: 19px;
    text-align: left;
    max-width: 700px;
    margin: 0 auto;
    background-color: whitesmoke;
}


.h {
    color: red;
    font-size: 30px;
}


img {
    height: auto;
    width: 500px;
}


.links {
    background-color: white;
    border: 2px solid wheat;
    border-radius: 20px;
}

li {
    padding: 10px;
}


.contentcolor {
    border: 2px solid wheat;
    border-radius: 20px;
    background-color: white;
}

p {
    border: 2px solid wheat;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

