body {
    color: black;
    font-family: serif, "times new roman", sans-serif;
    font-size: 19px;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    background-color: #eeeeee;
}


.h {
    color: black;
    font-size: 30px;
}


img {
    height: auto;
    width: 500px;
    margin-left: 150px;
    border-radius: 30px;
}


.links {
    background-color: white;
    border: 2px solid wheat;
    border-radius: 20px;
}

li {
    padding: 10px;
}


.contentcolor {
    border: 2px solid wheat;
    border-radius: 20px;
    background-color: white;
}

p {
    border: 2px solid wheat;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

.suya {
    width: 350px;
    height: 350px;
}

.homepageimg {
    width: 700px;
    margin-left: 50px;
}

h4 {
    margin-top: 10px;
}

